<!DOCTYPE html>
<%= csrf_meta_tags %>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload", media: "all" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "turbo", type: "module" %>
  </head>

  <body>
    <%= render 'header' %>
    <div id="flash_messages">
      <%= render 'shared/error_messages' %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
